.indexTitle {
  width: 347px;
  height: 74px;
  margin: 36px 0 18px 0;
}

.indexSubtitle {
  font-size: 18px;
}

.indexInputGroup {
  width: 349px;
  margin: 0 auto;
}

.loginUsername {
  margin-top: 7px;
}

.loginBtn {
  width: 100%;
}

.verifyCodeSize {
  width: 74px;
}

.verifyCodeImg {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 114px;
  height: 38px;
  border-radius: 0 4px 4px 0;
}
